* {
  /* Box shadow and transition */
  --shadow-anim: box-shadow 0.5s;
  --shadow: 0 0px 10px 6px rgb(23 23 23 / 24%);
  --shadow-large: 0 0px 10px 15px rgb(23 23 23 / 24%);

  --txt-color: #232946;
  --grid-bg-color: #b8c1ec;
  --bg-color: #d4d8f0;
  --hover-color: #eebbc3;
  --btn-color: #eebbc3;

  --text-color: #fffffe;
  --border-color: #121629;
}

body {
  background-color: var(--bg-color);
  max-width: 35rem;
  text-align: center;
  justify-content: center;

  margin: auto auto !important;
}

.title,
.msg,
.footer {
  color: var(--txt-color);
  text-align: center;
  padding: 2rem;
}

.title {
  font-family: "Fraunces", serif;
  font-size: 4rem;
  margin: 0;
  padding-bottom: 0;
}

.msg,
.footer {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.gameboard {
  position: relative;
  padding-top: 100%;
  border: 5px solid var(--border-color);
  background-color: var(--grid-bg-color);

  text-align: center;
  justify-content: center;
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* gap: 0.5rem; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* background-color: var(--grid-bg-color); */
  font-size: 100px;
}

.square {
  position: relative;
  border: 2px solid var(--border-color);
}

.square:hover {
  background-color: var(--hover-color);
}

/* Icons */

.x::after {
  content: "\58";
  font-weight: 600;
}
.circle::after {
  content: "\f111";
  font-weight: 400;
}

.x::after,
.circle::after {
  font-family: "Font Awesome 6 Free";
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--txt-color);
}
