* {
  /* Box shadow and transition */
  --shadow-anim: box-shadow 0.5s;
  --shadow: 0 0px 10px 6px rgb(23 23 23 / 24%);
  --shadow-large: 0 0px 10px 15px rgb(23 23 23 / 24%);

  --text-color: #fffffe;
  --border-color: #000;
  --bg-color: #232946;
  --grid-bg-color: #b8c1ec;
  --grid-bg-color-hover: #b8c1ec;
  --btn-color: #eebbc3;
}

body {
  background-color: var(--bg-color);
}

.title,
.msg,
.footer {
  color: var(--text-color);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 3px solid var(--border-color);
  width: 35em;
  height: 35em;
  background-color: var(--grid-bg-color);
}

.grid {
  width: 150px;
  height: 150px;
  border: 1px solid var(--border-color);
  background-color: var(--grid-bg-color);
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.grid:hover {
  background-color: var(--grid-bg-color-hover);
}
